.centered-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.centered-image-small {
    display: block;
    max-width: 20%;
    height: auto;
    margin: -20px auto 20px;
}

.text-content {
    text-align: center;
    margin: 20px auto;
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
}

.vx-green {
    color: green;
    font-size: 25px;
}

.vx-red {
    color: red;
    font-size: 25px;
}

/* 移动设备适配 */
@media screen and (max-width: 768px) {
    .centered-image {
        max-width: 90%;  /* 在手机上显示更大的图片 */
    }
    
    .centered-image-small {
        max-width: 70%;  /* 增加二维码大小（从50%改为70%） */
        margin: 10px auto 20px; /* 调整间距 */
    }
    
    .text-content {
        font-size: 18px;
        margin: 15px auto;
    }
    
    .vx-green, .vx-red {
        font-size: 22px;
    }
}